<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Monitoring Camera</title>
  <!-- css file -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/default.css" rel="stylesheet">
  <link href="/css/setup-video.css" rel="stylesheet">

</head>
<body>
  <div id="header col-sm-12">
      <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>                        
            <a class="navbar-brand" href="#">
              <img src="/images/branch.png" alt="" width="70" height="50">
            </a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">              
              <li><a href="/liveview">Live</a></li>
              <li><a href="/setup/video">Setup</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Advance Features<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
           
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/login">Logout</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </nav>
    
  </div>
  
<div id="content" class="row">
	<!-- Setup Options -->
  	<div class="btn-group col-sm-8 col-sm-offset-4" role="group" aria-label="...">
		<button type="button" class="btn btn-default"><a href="/setup/video">Video</a></button>
  		<div class="btn-group" role="group">
    		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a href="#">
      		Network</a>
     			<span class="caret"></span>
    		</button>
    		<ul class="dropdown-menu">
    			<li><a href="/setup/lan">LAN</a></li>
    			<li><a href="/setup/connection">Connection</a></li>
      		<li><a href="#">Wireless</a></li>
    		</ul>
		</div>
		<button type="button" class="btn btn-default"><a href="#">Others</a></button>
	</div>
	<!-- end Setup Options -->

	<div class="row">
		<!-- video -->
      	<div class="col-sm-6 col-sm-offset-1">
        	<div class="row" style="background-color:powderblue; margin-top: 30px;">
          		<video id="video" width="640" height="480" autoplay></video>
        	</div>
      	</div>

      	<!-- setup -->
      	<div class="col-sm-3">
      		<ul class="list-group" style="margin-top: 50px; margin-left: 20px;">
				<li class="list-group-item">Brightness
					<input id="brightness" type="range" value="50" min="0" max="100" step="5"/>
          <p id="demo"></p>
				</li>
				<li class="list-group-item">Contrast
					<input id="contrast" type="range" value="50" min="0" max="100" step="5"/>
				</li>
				<li class="list-group-item">Saturation
					<input id="saturation" type="range" value="50" min="0" max="100" step="5"/>
				</li>
				<li class="list-group-item">Sharpness
					<input id="sharpness" type="range" value="50" min="0" max="100" step="5"/>
				</li>
				<li class="list-group-item">Code-stream<%for(var i=0; i<5; i++){%>&nbsp<%}%>
					<select id="stream">
						<option value="continuous" selected="">Continuous</option>
						<option value="motion">Motion</option>
					</select>
				</li>
				<li class="list-group-item">Encode-mode<%for(var i=0; i<3; i++){%>&nbsp<%}%>
					<select id="encode"> 
						<option value="h264h">H264-H</option>
						<option value="h264" selected="">H264</option>
						<option value="h264b">H264-B</option>
						<option value="mjpeg">MJPEG</option>
					</select>
				</li>
				<li class="list-group-item">Resolution<%for(var i=0; i<9; i++){%>&nbsp<%}%>
					<select id="resolution">
						<option value="fullhd" selected="">1920x1080</option>
						<option value="">1280x1024</option>
						<option value="13m">1280x960</option>
						<option value="hd">1280x720</option>
						<option value="d1">704x576</option>
					</select>
				</li>
				<li class="list-group-item">FPS
					<input id="fps" type="number" value="24" min="1" max="25" step="1"/>
				</li>
				<li class="list-group-item">Bitrate
					<input id="bitrate" type="number" value="1024" min="256" max="6144" step="256"/>
				</li>
			</ul>

			<div class="row">
        		<div class="btn-group" role="group">
            		<button type="button" class="btn btn-default" id="default">Default</button>
            		<button type="button" class="btn btn-default" id="save">Save</button>
        		</div>
        	</div>
      	</div>
	</div>
    
</div>

  <div id="footer">
    
  </div>

  <!-- javascript files -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/setup-video.js"></script>

</body>
</html>