#content .btn-group:first-child button{
	margin-right: 40px;
    margin-top: 20px;
    border: 2px solid #0a3c59;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
}

#content .btn-group:first-child button:hover {
	border: 2px solid #0a3c59;
}

#content .ptz button{
	width: 70px
}